*{
    padding: 0;
    margin: 0.5px 1px;
    color: rgb(83, 75, 75);
    line-height: 1.4em;
    box-sizing: border-box;
}
h1,h2 {
    line-height: 1.3em;
}
p{
    margin-bottom: 1.2em;
}
a{
    text-decoration: none;
}
/* estilos del header */
.grid-container {
    height: 90vh;
    padding-left: 0;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% auto auto auto 15%;
}
.header{
    grid-column: 1 / 6;
    background-color: rgb(150,206,180);
    color: white;
    padding: 1rem 0;
    
}
    .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(125, 167, 105);
    
}
    .logo{
    padding: 0.5em;
    margin-left: 3vw;
    letter-spacing: 15px;
    font-size: 1.4em;
}
    .navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
        .navbar ul li{
    display: inline-block;
} 
            .navbar ul li a{
            display: block;
            padding: 0.5rem;
            letter-spacing: 4px;
            border-radius: 15%;
            transition: all 0.4s linear;
        }
            .navbar ul li a:hover{
            background: #88d8b0;
        }
/* estilos de la barra lateral */
.sidebar{
    grid-column: 5/6;
    grid-row:2/5;
    background-color: rgb(255,111,105,0.7)
}
    .contenido-sidebar .titulo{
    letter-spacing: 15px;
    text-align: center;
    margin: 1em 0;

    }
    .contenido-sidebar ul{
        list-style:inside;
        text-align: justify;
    }
    .contenido-sidebar ul li{
        text-align: justify;
    }

/* estilos del cuadro principal */

.main{
    grid-column: 1/5;
    grid-row: 2/5;
    text-align: center;
    
}
    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr;
        gap: 3px;
        height: 100%;
    }
        .principal{
            background-color:  #ffcc5c;
            grid-column: 1/ -1;
        }
        .cuadro{
            background-color: #88d8b0;
        }
        .principal h2, .cuadro h3{
            margin-top: 5px;
        }
        .dos{
            grid-column: 1/2;
            
        }
        .tres{
            grid-column: 2/3;
        }

.footer{
    grid-column: 1/6;
    background-color: #ffcc5c;
    padding: 20px 25px;
    color: #fff;
    text-align: center;
}
.footer-container span a{
    color:  #0080ff;
    text-decoration: none;   
}